<b>Task 1:</b>
<br>There are three different tables as given above. Please make three dataframe in python
and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.

In [2]:
import pandas as pd

#Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'New York', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('Employee.csv', index=False)
print("Employee DataFrame:")
print(employee_df)

#Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('Seniority_Level.csv', index=False)
print("\nSeniority Level DataFrame:")
print(seniority_df)

#Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)
project_df.to_csv('Project.csv', index=False)
print("\nProject DataFrame:")
print(project_df)

Employee DataFrame:
     ID             Name Gender      City  Age
0  A001       John Alter      M     Paris   25
1  A002  Alice Luxumberg      F    London   27
2  A003    Tom Sabestine      M    Berlin   29
3  A004       Nina Adgra      F  New York   31
4  A005        Amy Johny      F    Madrid   30

Seniority Level DataFrame:
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

Project DataFrame:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

<b>Task 2:</b>
<br>The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You should use the “For” loop for this task.

In [1]:
import pandas as pd

#Reading the Project CSV file created in Task 1
project_df = pd.read_csv('Project.csv')

#Replacing missing values with running average
costs = project_df['Cost'].tolist()
for i in range(len(costs)):
    if pd.isna(costs[i]):
        costs[i] = sum(cost for cost in costs[:i] if not pd.isna(cost)) / (i if i != 0 else 1)
project_df['Cost'] = costs

print("\nProject DataFrame after replacing missing values:")
print(project_df)

Project DataFrame after replacing missing values:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

<b>Task 3:</b>
<br>Split the name column in the Employee dataframe into two new columns “First Name” and “Last Name” and remove the older “name” column.

In [3]:
import pandas as pd

#Reading the Employee CSV file created in Task 1
employee_df = pd.read_csv('Employee.csv')

#Spliting Name into First Name and Last Name
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)

#Removing the original Name column
employee_df.drop(columns=['Name'], inplace=True)

print(employee_df)

     ID Gender      City  Age First Name  Last Name
0  A001      M     Paris   25       John      Alter
1  A002      F    London   27      Alice  Luxumberg
2  A003      M    Berlin   29        Tom  Sabestine
3  A004      F  New York   31       Nina      Adgra
4  A005      F    Madrid   30        Amy      Johny

<b>Task 4:</b>
<br>Join all three dataframes in one single dataframe. Name it “Final”.

In [4]:
import pandas as pd

#Reading the Employee CSV file created in Task 1
employee_df = pd.read_csv('Employee.csv')

#Reading the Seniority Level CSV file created in Task 1
seniority_df = pd.read_csv('Seniority_Level.csv')

#Reading the Project CSV file created in Task 1 and updated in Task 2
project_df = pd.read_csv('Project.csv')

#Merge DataFrames
final_df = employee_df.merge(seniority_df, on='ID').merge(project_df, on='ID')

print("\nFinal DataFrame after merging:")
print(final_df)

Final DataFrame after merging:
      ID             Name Gender      City  Age  Designation Level  \
0   A001       John Alter      M     Paris   25                  2
1   A001       John Alter      M     Paris   25                  2
2   A001       John Alter      M     Paris   25                  2
3   A002  Alice Luxumberg      F    London   27                  2
4   A002  Alice Luxumberg      F    London   27                  2
5   A003    Tom Sabestine      M    Berlin   29                  3
6   A003    Tom Sabestine      M    Berlin   29                  3
7   A003    Tom Sabestine      M    Berlin   29                  3
8   A004       Nina Adgra      F  New York   31                  2
9   A004       Nina Adgra      F  New York   31                  2
10  A004       Nina Adgra      F  New York   31                  2
11  A005        Amy Johny      F    Madrid   30                  3
12  A005        Amy Johny      F    Madrid   30                  3
13  A005        Amy Johny      F    Madrid   30                  3

       Project       Cost    Status
0    Project 1  1002000.0  Finished
1    Project 9        NaN   Ongoing
2   Project 11  2000000.0    Failed
3    Project 2  2000000.0   Ongoing
4    Project 6   680000.0    Failed
5    Project 3  4500000.0  Finished
6    Project 8   350000.0    Failed
7   Project 10   300000.0  Finished
8    Project 4  5500000.0   Ongoing
9   Project 12  1000000.0   Ongoing
10  Project 13  3000000.0  Finished
11   Project 5        NaN  Finished
12   Project 7   400000.0  Finished
13  Project 14   200000.0  Finished

<b>Task 5:</b>
<br>Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project cost only to employees who have finished the projects.

In [5]:
#Adding Bonus column
final_df['Bonus'] = final_df.apply(lambda row: row['Cost'] * 0.05 if row['Status'] == 'Finished' else 0, axis=1)

print("\nFinal DataFrame after adding Bonus column:")
print(final_df)

Final DataFrame after adding Bonus column:
      ID             Name Gender      City  Age  Designation Level  \
0   A001       John Alter      M     Paris   25                  2
1   A001       John Alter      M     Paris   25                  2
2   A001       John Alter      M     Paris   25                  2
3   A002  Alice Luxumberg      F    London   27                  2
4   A002  Alice Luxumberg      F    London   27                  2
5   A003    Tom Sabestine      M    Berlin   29                  3
6   A003    Tom Sabestine      M    Berlin   29                  3
7   A003    Tom Sabestine      M    Berlin   29                  3
8   A004       Nina Adgra      F  New York   31                  2
9   A004       Nina Adgra      F  New York   31                  2
10  A004       Nina Adgra      F  New York   31                  2
11  A005        Amy Johny      F    Madrid   30                  3
12  A005        Amy Johny      F    Madrid   30                  3
13  A005        Amy Johny      F    Madrid   30                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9        NaN   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5        NaN  Finished       NaN
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

<b>Task 6:</b>
<br>Demote the designation level by 1 for employees whose projects have status “fail”. Delete the employees' records whose designation level is above 4.

In [6]:
#Demoting designation level for failed projects
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

#Deleting records with designation level > 4
final_df = final_df[final_df['Designation Level'] <= 4]

print("\nFinal DataFrame after demoting and deleting records:")
print(final_df)

Final DataFrame after demoting and deleting records:
      ID             Name Gender      City  Age  Designation Level  \
0   A001       John Alter      M     Paris   25                  2
1   A001       John Alter      M     Paris   25                  2
2   A001       John Alter      M     Paris   25                  1
3   A002  Alice Luxumberg      F    London   27                  2
4   A002  Alice Luxumberg      F    London   27                  1
5   A003    Tom Sabestine      M    Berlin   29                  3
6   A003    Tom Sabestine      M    Berlin   29                  2
7   A003    Tom Sabestine      M    Berlin   29                  3
8   A004       Nina Adgra      F  New York   31                  2
9   A004       Nina Adgra      F  New York   31                  2
10  A004       Nina Adgra      F  New York   31                  2
11  A005        Amy Johny      F    Madrid   30                  3
12  A005        Amy Johny      F    Madrid   30                  3
13  A005        Amy Johny      F    Madrid   30                  3

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9        NaN   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5        NaN  Finished       NaN
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

<b>Task 7:</b>
<br>Add “Mr.” and “Mrs.” to the first name column based on gender and drop the gender column.

In [4]:
import pandas as pd

#Reading the Employee CSV file created in Task 1
employee_df = pd.read_csv('Employee.csv')

#Spliting Name into First Name and Last Name
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)
employee_df.drop(columns=['Name'], inplace=True)

#Adding title based on gender
employee_df['First Name'] = employee_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

#Droping the Gender column
employee_df.drop(columns=['Gender'], inplace=True)

print(employee_df)

     ID      City  Age  First Name  Last Name
0  A001     Paris   25    Mr. John      Alter
1  A002    London   27  Mrs. Alice  Luxumberg
2  A003    Berlin   29     Mr. Tom  Sabestine
3  A004  New York   31   Mrs. Nina      Adgra
4  A005    Madrid   30    Mrs. Amy      Johny

<b>Task 8:</b>
<br>Promote the designation level by 1 for the employees whose age is more than 29 years using an IF condition.

In [7]:
#Promoting designation level for employees older than 29
final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1

print("\nFinal DataFrame after promoting designation level:")
print(final_df)

Final DataFrame after promoting designation level:
      ID             Name Gender      City  Age  Designation Level  \
0   A001       John Alter      M     Paris   25                  2
1   A001       John Alter      M     Paris   25                  2
2   A001       John Alter      M     Paris   25                  2
3   A002  Alice Luxumberg      F    London   27                  2
4   A002  Alice Luxumberg      F    London   27                  2
5   A003    Tom Sabestine      M    Berlin   29                  3
6   A003    Tom Sabestine      M    Berlin   29                  3
7   A003    Tom Sabestine      M    Berlin   29                  3
8   A004       Nina Adgra      F  New York   31                  4
9   A004       Nina Adgra      F  New York   31                  4
10  A004       Nina Adgra      F  New York   31                  4
11  A005        Amy Johny      F    Madrid   30                  5
12  A005        Amy Johny      F    Madrid   30                  5
13  A005        Amy Johny      F    Madrid   30                  5

       Project       Cost    Status     Bonus
0    Project 1  1002000.0  Finished   50100.0
1    Project 9        NaN   Ongoing       0.0
2   Project 11  2000000.0    Failed       0.0
3    Project 2  2000000.0   Ongoing       0.0
4    Project 6   680000.0    Failed       0.0
5    Project 3  4500000.0  Finished  225000.0
6    Project 8   350000.0    Failed       0.0
7   Project 10   300000.0  Finished   15000.0
8    Project 4  5500000.0   Ongoing       0.0
9   Project 12  1000000.0   Ongoing       0.0
10  Project 13  3000000.0  Finished  150000.0
11   Project 5        NaN  Finished       NaN
12   Project 7   400000.0  Finished   20000.0
13  Project 14   200000.0  Finished   10000.0

<b>Task 9:</b>
<br>Add the cost of all projects for each Employee and save it in a new dataframe “TotalProjCost” with three columns: ID, First Name, and Total Cost.

In [13]:
import pandas as pd

#Load the Project.csv file
project_df = pd.read_csv('Project.csv')

#Fill missing values in the Cost column with 0 for calculation purposes
project_df['Cost'].fillna(0, inplace=True)

#Group by 'ID' and sum the 'Cost' column
total_cost_df = project_df.groupby('ID')['Cost'].sum().reset_index()

#Assuming the Employee DataFrame is already created and saved as Employee.csv
employee_df = pd.read_csv('Employee.csv')

#Split the Name column into First Name and Last Name
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)
employee_df.drop(columns=['Name'], inplace=True)

#Merge the total cost with employee details
total_proj_cost_df = pd.merge(employee_df, total_cost_df, on='ID')

#Select relevant columns
total_proj_cost_df = total_proj_cost_df[['ID', 'First Name', 'Cost']]
total_proj_cost_df.rename(columns={'Cost': 'Total Cost'}, inplace=True)

#Save the result to a new CSV file
total_proj_cost_df.to_csv('TotalProjCost.csv', index=False)

#Display the result
print(total_proj_cost_df)

     ID First Name  Total Cost
0  A001       John   3002000.0
1  A002      Alice   2680000.0
2  A003        Tom   5150000.0
3  A004       Nina   9500000.0
4  A005        Amy    600000.0

<b>Task 10:</b>
<br>Print all the employee details whose city name contains the letter “o” in it.

In [14]:
import pandas as pd

#Assuming the Employee DataFrame is already created and saved as Employee.csv
employee_df = pd.read_csv('Employee.csv')

#Filter employees whose city name contains the letter 'o'
filtered_employees = employee_df[employee_df['City'].str.contains('o', case=False, na=False)]

#Display the result
print(filtered_employees)

     ID             Name Gender      City  Age
1  A002  Alice Luxumberg      F    London   27
3  A004       Nina Adgra      F  New York   31